.board {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  grid-gap: 5px;
}
.red {
  border: 1px solid #999;
  background-color: red;
}
.blue {
  border: 1px solid #999;
  background-color: blue;
}
.green {
  border: 1px solid #999;
  background-color: green;
}
.yellow {
  border: 1px solid #999;
  background-color: yellow;
}
.orange {
  border: 1px solid #999;
  background-color: orange;
}
.purple {
  border: 1px solid #999;
  background-color: purple;
}
.black {
  border: 1px solid #999;
  background-color: black;
}
